# ================================
# Java
*.class
*.jar
*.war
*.ear

# ================================
# Logs
*.log
logs/
*.out

# ================================
# OS
.DS_Store
Thumbs.db

# ================================
# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# ================================
# Eclipse
.project
.classpath
.settings/

# ================================
# VS Code
.vscode/

# ================================
# Build
/target/
/build/
/bin/

# ================================
# Maven
# Maven Wrapper
!mvnw
!mvnw.cmd
!/.mvn/wrapper/
!/.mvn/wrapper/maven-wrapper.jar
!/.mvn/wrapper/maven-wrapper.properties


# ================================
# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# ================================
# Environment & Config
.env
*.env
application.yml
application-*.yml
# application-*.properties
!application.properties   

# ================================
# Database dumps / local db
*.sql
*.db

# ================================
# Others
*.tmp
*.swp
